* {
  padding: 0;
  margin: 0;
  /* line-height: 1; */
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

body {
  min-width: 320px;
}

img {
  pointer-events: none;
}

main.background-login {
  background-image: linear-gradient(120deg, #4c79d3 50%, #fff 50%);
  background-position: -125px;
  background-size: cover;
  background-repeat: repeat-y;
}

main.background-home {
  background-image: linear-gradient(120deg, #fff 50%, #4c79d3 50%);
  background-position: center center;
  background-size: cover;
  background-repeat: repeat-y;
}

button.btn-primary {
  --bs-btn-bg: #4E0070;
  --bs-btn-border-color: #4E0070;
  --bs-btn-hover-bg: #40005c;
  --bs-btn-hover-border-color: #380051;
  --bs-btn-active-bg: #380051;
  --bs-btn-active-border-color: #480069;
  /* --bs-btn-disabled-bg: #0d6efd; */
  /* --bs-btn-disabled-border-color: #0d6efd; */
}

button.btn-primary, button.btn-secondary {
  --bs-btn-border-radius: .5rem;
  transition: background-color .3s ease-in-out;
}

a.link {
  color: #4E0070;
  text-decoration: none;
  transition: color .3s ease-in-out;

  &:hover {
    color: #0077ff;
    text-decoration: underline;
  }
}

a.nav-link i,
button.nav-link i {
  color: #000;
  transition: color .3s ease-in-out;

  &:hover {
    color: #4b4b4b;
  }
}

a.nav-link.active i,
button.nav-link.active i {
  color: #0077ff;
}

div.dropdown {
  position: relative;
}

ul.dropdown-menu {
  position: absolute !important;
  bottom: 0;
  left: 50% !important;
  transform: translateX(-50%);
  height: fit-content;
  width: fit-content;
}

div.addBtn {
  transition: background-color .3s ease-in-out;

  &:hover {
    background-color: #40005c !important;
  }
}

@media (max-width: 768px) {
  main.background-login {
    background-position: center center;
  }
}